@import '~node_modules/modern-normalize/modern-normalize.css';

.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid red;
    min-width: 320px;
    max-width: 480px;

    @media screen and (min-width: 768px) {
        max-width: 768px;
    }

    @media screen and (min-width: 1280px) {
      max-width: 1280px;
    }
}


img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}


