@import '~node_modules/modern-normalize/modern-normalize.css';
.body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid red;
  min-width: 320px;
  max-width: 480px;

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
