.footer {
  background-color: #f7f7f7;
  min-width: 320px;
  text-align: center;
  margin-top: 20px;
  @media screen and (max-width: 767px) {
    padding-top: 29px;

    padding-bottom: 30px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 29px;
    padding-bottom: 29px;
  }
}

.dark-footer {
  background-color: #545454;
}

.footer-text-all {
  color: #545454;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 1.19;
  }
}
.footer-text-part {
  display: block;
  @media screen and (max-width: 767px) {
    margin-bottom: 10px;
  }
}
.footer-label {
  margin-left: 10px;
  margin-right: 10px;
  animation: heartbeat 1.5s ease-in-out infinite both;
}
@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
.footer-modal {
  color: #545454;
  text-decoration: underline;
  cursor: pointer;
}

.footer-modal:hover,
.footer-modal:focus {
  color: #ff6b08;
}

.dark-footer-text {
  color: #dddddd;
}
