
<header class="header">
    <div class="container">
        <div class="header_wrapper">
            <nav class="navigation">
                <a class="logo link" href=" ">
                    <svg>
                        <use></use>
                    </svg>
                    <span class="logo_text">Filmoteka</span>
                </a>
                <ul class="nav_list">
                    <li class="nav_item">
                        <a href="" class="link nav_home">Home</a>
                    </li>
                    <li class="nav_item">
                        <a href="" class="link nav_library ">My Library</a>
                    </li>
                </ul>
            </nav>
            <form class="search_form id="search_form">
                <input  
                type="text"
                name="query"
                autocomplete="off"
                placeholder="Поиск фильмов"
                class="search-field" 
                />
                <button type="search_btn">
                    <svg class="search_icon" width="12" heigth="12">
                        <use href=""></use>
                    </svg>
                </button>
            </form>
        </div>

    </div> 
</header>
