<main class="main">
  <section class="filmoteka section">
        <div class="container">
            <h1 class="visually-hidden">Filmoteka</h1>
            <ul class="film-list list">
                <li class="film-list__item">
                    <a href="" class="film-list__link link">
                        <div class="film-list__top-wrap">
                            <picture>
                                <source
                                    srcset="
                                        ./images/film-1.jpg 1x,
                                        ./images/film-1-2x.jpg 2x 
                                    "
                                    media="(min-width: 1280px)"
                                />
                                <source
                                    srcset="
                                        ./images/film-1-tab.jpg 1x,
                                        ./images/film-1-tab-2x.jpg 2x 
                                    "
                                    media="(min-width: 768px)"
                                />
                                <source
                                    srcset="
                                        ./images/film-1-mob.jpg 1x,
                                        ./images/film-1-mob-2x.jpg 2x 
                                    "
                                    media="(max-width: 480px)"
                                />
                                <img 
                                    src="./images/film-1-mob.jpg" 
                                    alt="laptop" 
                               />
                            </picture> 
                        </div>
                        <div class="film-data">
                            <h2 class="film__title">AQUARELA</h2>
                            <p class="film__genres">Documentary, Drama, Other</p>
                            <p class="film__year">2019</p>
                        </div>
                    </a>
                </li>
                <li class="film-list__item">
                  <a href="" class="film-list__link link">
                      <div class="film-list__top-wrap">
                          <picture>
                              <source
                                  srcset="
                                      ./images/film-1.jpg 1x,
                                      ./images/film-1-2x.jpg 2x 
                                  "
                                  media="(min-width: 1280px)"
                              />
                              <source
                                  srcset="
                                      ./images/film-1-tab.jpg 1x,
                                      ./images/film-1-tab-2x.jpg 2x 
                                  "
                                  media="(min-width: 768px)"
                              />
                              <source
                                  srcset="
                                      ./images/film-1-mob.jpg 1x,
                                      ./images/film-1-mob-2x.jpg 2x 
                                  "
                                  media="(max-width: 480px)"
                              />
                              <img 
                                  src="./images/film-1-mob.jpg" 
                                  alt="laptop" 
                             />
                          </picture> 
                      </div>
                      <div class="film-data">
                          <h2 class="film__title">AQUARELA</h2>
                          <p class="film__genres">Documentary, Drama, Other</p>
                          <p class="film__year">2019</p>
                      </div>
                  </a>
              </li>
              <li class="film-list__item">
                <a href="" class="film-list__link link">
                    <div class="film-list__top-wrap">
                        <picture>
                            <source
                                srcset="
                                    ./images/film-1.jpg 1x,
                                    ./images/film-1-2x.jpg 2x 
                                "
                                media="(min-width: 1280px)"
                            />
                            <source
                                srcset="
                                    ./images/film-1-tab.jpg 1x,
                                    ./images/film-1-tab-2x.jpg 2x 
                                "
                                media="(min-width: 768px)"
                            />
                            <source
                                srcset="
                                    ./images/film-1-mob.jpg 1x,
                                    ./images/film-1-mob-2x.jpg 2x 
                                "
                                media="(max-width: 480px)"
                            />
                            <img 
                                src="./images/film-1-mob.jpg" 
                                alt="laptop" 
                           />
                        </picture> 
                    </div>
                    <div class="film-data">
                        <h2 class="film__title">AQUARELA</h2>
                        <p class="film__genres">Documentary, Drama, Other</p>
                        <p class="film__year">2019</p>
                    </div>
                </a>
            </li>
            <li class="film-list__item">
              <a href="" class="film-list__link link">
                  <div class="film-list__top-wrap">
                      <picture>
                          <source
                              srcset="
                                  ./images/film-1.jpg 1x,
                                  ./images/film-1-2x.jpg 2x 
                              "
                              media="(min-width: 1280px)"
                          />
                          <source
                              srcset="
                                  ./images/film-1-tab.jpg 1x,
                                  ./images/film-1-tab-2x.jpg 2x 
                              "
                              media="(min-width: 768px)"
                          />
                          <source
                              srcset="
                                  ./images/film-1-mob.jpg 1x,
                                  ./images/film-1-mob-2x.jpg 2x 
                              "
                              media="(max-width: 480px)"
                          />
                          <img 
                              src="./images/film-1-mob.jpg" 
                              alt="laptop" 
                         />
                      </picture> 
                  </div>
                  <div class="film-data">
                      <h2 class="film__title">AQUARELA</h2>
                      <p class="film__genres">Documentary, Drama, Other</p>
                      <p class="film__year">2019</p>
                  </div>
              </a>
          </li>
            </ul>
        </div>
    </section>
</main>
