<div class="backdrop js-backdrop is-hidden" data-modal>
  <div class="main-modal js-main-modal" data-modal-close>
    <button class="btn-close-modal js-btn-close-modal" type="button">X</button>
    <div class="card-film film">
      <div class="film__poster">
        <img
          src="./images/modal/poster-film.jpg"
          alt="poster"
          width="375"
          height="478"
        />
      </div>
      <div class="film__content">
        <h2 class="film__title">A FISTFUL OF LEAD</h2>

        <div class="list-wrapper">
          <ul class="film-list__left">
            <li class="item-left">
              <span>Vote / Votes</span>
            </li>
            <li class="item-left"><span>Popularity</span></li>
            <li class="item-left">
              <span>Original Title </span>
            </li>
            <li class="item-left"><span>Genre</span></li>
          </ul>
          <ul class="film-list__right">
            <li class="item-right item-right--vote">
              <span class="film-vote">7.3 </span>/<span>1200</span>
            </li>
            <li class="item-right item-right--popularity">
              <span>100.2</span>
            </li>
            <li class="item-right"><span>A FISTFUL OF LEAD</span></li>
            <li class="item-right"><span>Western</span></li>
          </ul>
        </div>

        <p class="film__about">About</p>
        <p class="film__about-description">
          Four of the West’s most infamous outlaws assemble to steal a huge
          stash of gold from the most corrupt settlement of the gold rush towns.
          But not all goes to plan one is killed and the other three escapes
          with bags of gold hide out in the abandoned gold mine where they
          happen across another gang of three – who themselves were planning to
          hit the very same bank! As tensions rise, things go from bad to worse
          as they realise the bags of gold are filled with lead... they’ve been
          double crossed – but by who and how?
        </p>
        <div class="button-wrapper">
          <button class="btn-modal film-btn__watched is-active">
            add to Watched
          </button>
          <button class="btn-modal film-btn__queue">add to queue</button>
        </div>
      </div>
    </div>
  </div>
</div>
