<div class="backdrop is-hidden" data-modal>
  <div class="main-modal js-main-modal" data-modal-close>
    <button class="btn-close-modal" type="button">X</button>
    <div class="card-film film">
      <div class="film__poster">
        <img
          src="./images/modal/poster-film.jpg"
          alt="poster"
          width="375"
          height="478"
        />
      </div>
      <div class="film__content">
        <h2 class="film__title">A FISTFUL OF LEAD</h2>

        <ul class="film__list-info list">
          <li class="film__item-info">
            <span class="left-item">Vote / Votes</span>
            <div class="rating">
              <span class="vote right-item">8.6</span>
              /
              <span class="votes right-item">1200</span>
            </div>
          </li>
          <li class="film__item-info">
            <span class="left-item">Popularity</span>
            <span class="right-item">100.2</span>
          </li>
          <li class="film__item-info">
            <span class="left-item">Original Title</span>
            <span class="right-item">A FISTFUL OF LEAD</span>
          </li>
          <li class="film__item-info">
            <span class="left-item">Genre</span>
            <span class="right-item">Western</span>
          </li>
        </ul>

        <p class="film__about">About</p>
        <p class="film__about-description">
          Four of the West’s most infamous outlaws assemble to steal a huge
          stash of gold from the most corrupt settlement of the gold rush towns.
          But not all goes to plan one is killed and the other three escapes
          with bags of gold hide out in the abandoned gold mine where they
          happen across another gang of three – who themselves were planning to
          hit the very same bank! As tensions rise, things go from bad to worse
          as they realise the bags of gold are filled with lead... they’ve been
          double crossed – but by who and how?
        </p>
        <button class="btn film-btn__watched">add to Watched</button>
        <button class="btn film-btn__queue">add to queue</button>
      </div>
    </div>
  </div>
</div>
