<div class="backdrop-team is-hidden" data-modal-team>
  <div class="team-modal js-main-modal" modal-close>
    <button type="button" class="btn-close-modal-team">X</button>
    <div class="team-container">
      <div class="team-title-all">
        <a
          href="https://github.com/VKoshovec/teamProjJS6"
          target="_blank"
          class="team-title"
          rel="noopener noreferrer"
          aria-label="Our Github"
          title="Our Github"
          >OUR<span class="team-title-span">&#160;TEAM</span>
        </a>
      </div>

      <div class="team-content">
        <ul class="team-list">
          <li class="team-item">
            <a href="https://github.com/VKoshovec"
              ><img class="team-img" src="/src/images/koshov.jpg" alt="Учасник"
            /></a>
            <div class="team-block">
              <p class="team-name">Володимир</p>
              <p class="team-last">Кошовець</p>
              <p class="team-position">Team Lead</p>
            </div>
          </li>
          <li class="team-item">
            <a href="https://github.com/OlhaNekrylova"
              ><img
                class="team-img"
                src="/src/images/nekrylova.jpg"
                alt="Учасник"
            /></a>
            <div class="team-block">
              <p class="team-name">Ольга Некрилова</p>
              <p class="team-position">Scrum Master</p>
            </div>
          </li>
          <li class="team-item">
            <a href="https://github.com/kolya-kyb"
              ><img
                class="team-img"
                src="/src/images/Kybiiyevyh_Mykola.jpg"
                alt="Учасник"
            /></a>
            <div class="team-block">
              <p class="team-name">Микола Кубієвич</p>
            </div>
          </li>
          <li class="team-item">
            <a href="https://github.com/viktoriia-ch"
              ><img
                class="team-img"
                src="/src/images/viktoriia-chumak.jpg"
                alt="Учасник"
                width="160px"
            /></a>
            <div class="team-block">
              <p class="team-name">Вікторія Чумак</p>
            </div>
          </li>
          <li class="team-item">
            <a href="https://github.com/ZoyaBukhantseva"
              ><img
                class="team-img"
                src="/src/images/zoya-bukhantseva.jpg"
                alt="Учасник"
            /></a>
            <div class="team-block">
              <p class="team-name">Зоя Буханцева</p>
            </div>
          </li>
          <li class="team-item">
            <a href="https://github.com/glchnko"
              ><img
                class="team-img"
                src="/src/images/galyshenko.png"
                alt="Учасник"
            /></a>
            <div class="team-block">
              <p class="team-name">Анна Галюченко</p>
            </div>
          </li>
          <li class="team-item">
            <a href="https://github.com/myastkowskuy"
              ><img
                class="team-img"
                src="/src/images/myastkowskuy.jpg"
                alt="Учасник"
            /></a>
            <div class="team-block">
              <p class="team-name">Родіон М'ястківський</p>
            </div>
          </li>
          <li class="team-item">
            <a href="https://github.com/dmitrij-pularija"
              ><img
                class="team-img"
                src="/src/images/dmitrij-pularija.jpg"
                alt="Учасник"
            /></a>
            <div class="team-block">
              <p class="team-name">Дмитро Пуларія</p>
            </div>
          </li>
          <li class="team-item">
            <a href="https://github.com/KarinaKl"
              ><img class="team-img" src="/src/images/1.png" alt="Учасник"
            /></a>
            <div class="team-block">
              <p class="team-name">Карина Коломієць</p>
            </div>
          </li>
          <li class="team-item">
            <a href="https://github.com/go-doc-web"
              ><img
                class="team-img"
                src="/src/images/hubskyi.jpg"
                alt="Учасник"
            /></a>
            <div class="team-block">
              <p class="team-name">Олег Губський</p>
            </div>
          </li>
          <li class="team-item">
            <a href="https://github.com/yanabertnik"
              ><img
                class="team-img"
                src="/src/images/yana.bertnik.jpg"
                alt="Учасник"
            /></a>
            <div class="team-block">
              <p class="team-name">Яна Бертнік</p>
            </div>
          </li>
          <li class="team-item">
            <a href="https://github.com/OleksandrStrunkin"
              ><img class="team-img" src="/src/images/1.png" alt="Учасник"
            /></a>
            <div class="team-block">
              <p class="team-name">Олександр Стрункін</p>
            </div>
          </li>
        </ul>
        <div>
          <a href="https://goit.global/ua/"
            ><img class="go-it" src="/src/images/logo.png" alt="Go_IT"
          /></a>
        </div>
      </div>
    </div>
  </div>
</div>
